extends nav
block content		
	if user
		.container
			h1.blog-title Welcome to the Blog
			nav
				ul.pager
					li
						p='Logged in as ' + user.name 
					li
						a(href='/logout') Logout
			
			form.form-signin(action='/blog' method='post')
				h4.form-signin-heading New Post:
				label.sr-only title: 
				input.form-control(name='title', placeholder='Post title')
				br
				label.sr-only body: 
				textarea.form-control(name='body', style='height:100px', placeholder='Post body')
				br
				input.btn.btn-lg.btn-primary(type='submit' value='add post')
			
			h4 All Posts
			each blogPost in blog
				.blog-post
					h2.blog-post-title= blogPost.title
					p.blog-post-meta= 'Posted by ' + blogPost.username
					p= blogPost.body
					h4 Comments
					each comment in blogPost.commentable
						p= comment.commentable
					p Add Comment:
					form(action='/comment' method='post')
						input(value='#{blogPost.id}' name='theid' hidden)  
						textarea(name='commentable' style='height:40px')
						br
						input(type='submit' value='add comment')
					hr

	else
		.container
			form.form-signin(action='/login' method='post')
				h2.form-signin-heading Please sign in
				label.sr-only(for='inputEmail') email
				input#email.form-control(name='email', type='email', placeholder='Email address', required)
				br
				label.sr-only(for='inputPassword') password
				input#password.form-control(name='password', type='password', placeholder='Password', required)
				br
				input.btn.btn-lg.btn-primary(type='submit' value='Login' id='submit')
				a.btn.btn-lg.btn-default(href='/new') Create Account
			h2#error-message= message

script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	
	script.
		$(document).ready(function () {
			$('#submit').click(function(event) {
				if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
					event.preventDefault();
					$('#error-message').html("Your username or password is empty.");
				}
			});
		});
